.appointment-view {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.appointment-container {
  display: flex;
  width: 380px;
  height: 200px;
  background: #e3e4e6;
  position: absolute;
  border-radius: 5px;
  padding-left: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.appointment-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.appointment-buttons-container {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.appointment-buttons-container > * {
  display: block;
  width: 80px;
}
.form-input > * {
  margin: 0px 10px;
}

.close-button {
  position: absolute;
  cursor: default;
  right: 20px;
  top: 10px;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
  font: 15px;
  height: 16px;
  padding: 4px 6px 3px 6px;
  text-align: center;
}
